html, body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

body {
	font-size: 2em;
}

input {
	width: 10em;
	margin: auto;
}

input[name="question"] {
	width: 20em;
}

input[name="question"], input[name="submit"] {
	display: block;
}

p {
	text-align: center;
}

button {
	width: 10em;
}

#login-buttons {
	font-size: 17px;
	position: absolute;
	top: 0;
	right: 0;
}