template(name="poll")
	+loginButtons(align="right")
	.center
		if currentUser
			form(name="question")
				input(type="text" name="question" placeholder="küsimus")
				br
				input(type="text" name="yes" placeholder="Jah" style="text-align: right")
				input(type="text" name="no" placeholder="Ei" style="text-align: left")
				p {{result}}
				input(type="submit" name="submit" style="display:none")
			button(name="new") Uus
		else
			if item
				with item
					form(name="vote")
						p.question {{question}}
						input.yes(type="submit" name="yes" value="{{yes}}")
						input.no(type="submit" name="no" value="{{no}}")
			else
				p Küsimust pole
