template(name="poll")
	+loginButtons(align="right")
	if isAdmin
		form(name="name")
			input.name(name="name" placeholder="küsimus")
		button.bottom.reset(name="reset") reset
		.result
			p {{result}}
	else
		if name
			.name {{name}}
			.choice
				button.yes Jah
				button.no Ei
		else
			p Küsimust pole
		form(name="pass")
			input.bottom.pass(name="pass" placeholder="häki mind" type="password")
