template(name="poll")
	+loginButtons(align="right")
	if currentUser
		form(name="question")
			input(name="question" placeholder="küsimus")
			input(name="yes" placeholder="Jah")
			input(name="no" placeholder="Ei")
			p {{result}}
			input(type="submit" name="submit")
		button(name="new") Uus
	else
		if item
			with item
				.question {{question}}
				form(name="vote")
					input.yes(type="submit" name="yes" value="{{yes}}")
					input.no(type="submit" name="no" value="{{no}}")
		else
			p Küsimust pole
